@{
    ViewData["Title"] = "Home Page try commit 3";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the second commit</h1>
    <h2 class="display-4">this_is_the_second_line_as_test</h2>
    <input type="button" id="btn" value="click me ">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>