@page
@model WebApplication1.Views.Home.TryPage

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tird_Page</title>
</head>
<body>
<div>
    <h1 class="display-4">Welcome to the Third Page</h1>
        <h2 class="display-4">this_is_the_second_line_as_test</h2>
    <input type="button" asp-action="Btn" id="btn" value="thisIsMyFirstButton">
    <input type="text"  id="txt" value="thisistextspace">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</body>
</html>